{
  "presets": [
    [
      "babel-preset-env",
      {
        "targets": "> 0.25%, ie 11"
      }
    ]
  ],
  "plugins": [
    "transform-decorators-legacy",
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@overseer": "./src/js",
          "@ecs": "./src/js/ecs",
          "@shaders": "./src/shaders",
          "@redux": "./src/redux",
          "@editor": "./src/js/editor"
        },
        "extensions": [
          ".js", ".json", ".jsx"
        ]
      }
    ],
    [
      "babel-plugin-transform-builtin-extend",
      {
        "globals": ["Error"]
      }
    ]
  ]
}
