{
  "presets": ["es2015", "es2016"],
  "plugins": [
    "transform-decorators-legacy",
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@glkit-math": "./src",
        },
        "extensions": [".js", ".json", ".jsx", ".css", ".sass", ".frag", ".vert"]
      }
    ],
    [
      "babel-plugin-transform-builtin-extend",
      {
        "globals": ["Error"]
      }
    ]
  ]
}
