{
  "presets": ["es2015", "es2016"],
  "plugins": [
    "transform-decorators-legacy",
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@shaders": "./src/shaders",
          "@glkit": "./src/js/glkit",
          "@errors": "./src/js/errors",
          "@overseer": "./src/js/overseer",
          "@utils": "./src/js/utils"
        },
        "extensions": [".js", ".json", ".jsx", ".css", ".sass", ".frag", ".vert"]
      }
    ],
    [
      "babel-plugin-transform-builtin-extend",
      {
        "globals": ["Error"]
      }
    ],
    [
      "babel-plugin-groundskeeper-willie",
      {
          "removeConsole":  false,
          "removeDebugger": true,
          "removePragma":   true
      }
    ]
  ]
}
