.collection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;

  width: auto;
  height: auto;

  overflow-y: auto;
  overflow-x: hidden;

  margin: 0px;
  padding: 0px;
  border: none;
  background: transparent;

  box-sizing: border-box;

  & > .element {
    width: auto;
    height: auto;

    margin: 0px;
    padding: 0px;
    border: none;
    background: transparent;

    box-sizing: border-box;

    &.is-filtered {
      display: none!important;
    }
  }
}
