.floating-panel {
  display: block;
  position: absolute;

  &, &.floating-panel-left {
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: auto;

    box-shadow: 3px 0px 8px 0px rgba(0,0,0,0.24);

    .floating-panel-header, .floating-panel-content {
    }

    .floating-panel-header-toggle {
      right: 0px;
      top: 0px;
      bottom: 0px;
      left: auto;
    }

    .floating-panel-header-content {
      right: $floating-panel-header-height;
      left: 0px;
      height: 0px;
      bottom: 0px;
    }
  }

  &.floating-panel-right {
    left: auto;
    right: 0px;
    top: 0px;
    bottom: 0px;

    box-shadow: -3px 0px -8px 0px rgba(0,0,0,0.24);

    .floating-panel-header-toggle {
      right: auto;
      top: 0px;
      bottom: 0px;
      left: 0px;
    }

    .floating-panel-header-content {
      right: 0px;
      left: $floating-panel-header-height;
      height: 0px;
      bottom: 0px;
    }
  }

  &.is-open {
    &.floating-panel-left {
      left: 0px;
      @include transition(left 0.2s ease-in-out);
    }

    &.floating-panel-right {
      right: 0px;
      @include transition(right 0.2s ease-in-out);
    }
  }

  &.is-close {
    &.floating-panel-left {
      left: -$floating-panel-width - 10px;
      @include transition(left 0.2s ease-in-out);
    }

    &.floating-panel-right {
      right: -$floating-panel-width - 10px;
      @include transition(right 0.2s ease-in-out);
    }
  }

  height: auto;
  width: $floating-panel-width;

  padding: 0px;
  margin: 0px;
  border: none;
  border-radius: 0px;

  overflow-x: visible;
  overflow-y: hidden;

  .floating-panel-header {
    display: block;
    position: absolute;

    top: 0px;
    left: 0px;
    right: 0px;

    width: auto;
    height: $floating-panel-header-height;

    padding: 0px;
    margin: 0px;
    border: none;
    border-radius: 0px;

    overflow: hidden;

    box-sizing: border-box;

    background-color: white;

    &, * {
      font-size: $floating-panel-header-font-size;
      color: $body-color;
    }

    &, & > * {
      text-align: center;
      line-height: $floating-panel-header-height;
      vertical-align: middle;
      font-family: 'Roboto Slab', serif;
    }

    cursor: pointer;

    .floating-panel-header-toggle {
      display: block;
      position: absolute;

      width: $floating-panel-header-height;
      height: $floating-panel-header-height;

      padding: 0px;
      margin: 0px;
      border: none;
      border-radius: 0px;

      overflow: hidden;

      .btn.btn-link {
        display: block;

        width: $floating-panel-header-height;
        height: $floating-panel-header-height;

        padding: 0px;
        margin: 0px;

        border: none;
        border-radius: 0px;

        line-height: $floating-panel-header-height;
        vertical-align: middle;
      }
    }

    .floating-panel-header-content {
      display: block;
      position: absolute;

      width: auto;
      height: $floating-panel-header-height;

      padding: 0px;
      margin: 0px;
      border: none;
      border-radius: 0px;

      overflow: hidden;
    }
  }

  .floating-panel-content {
    display: block;
    position: absolute;

    background-color: white;

    top: $floating-panel-header-height;
    left: 0px;
    right: 0px;
    bottom: 0px;

    width: auto;
    height: auto;

    padding: 0px;
    margin: 0px;
    border: none;
    border-radius: 0px;

    overflow: hidden;
  }
}
