$list-entity-element-height: 25px;
$list-entity-element-font-size: 14px;
$list-entity-element-identifier-column-width: 60px;

.list.list-entity {
  .list-element.list-entity-element {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: $list-entity-element-height;

    outline: none;

    margin: 0px;
    padding: 0px;
    border: none;
    border-radius: 0px;

    box-sizing: border-box;

    background-color: transparent;
    color: $body-color;

    font-size: $list-entity-element-font-size;

    cursor: pointer;

    &:hover, &.hover, &:focus, &.focus {
      background-color: $outline-color;
    }

    &:active, &.active {
      background-color: #1E88E5;
      color: $white;

      @include transition(background-color .0s ease-in-out);
    }

    .list-entity-element-identifier {
      width: $list-entity-element-identifier-column-width;
      height: $list-entity-element-height;

      margin: 0px;
      padding: 0px;
      padding-left: 10px;
      padding-right: 10px;
      border: none;

      box-sizing: border-box;

      line-height: $list-entity-element-height;
      text-align: left;
      vertical-align: middle;

      overflow: hidden;
      text-overflow: ellipsis;
    }

    .list-entity-element-label {
      flex: auto;

      width: auto;
      height: auto;

      margin: 0px;
      padding: 0px;
      padding-left: 10px;
      padding-right: 10px;
      border: none;

      box-sizing: border-box;

      line-height: $list-entity-element-height;
      text-align: left;
      vertical-align: middle;

      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
