.collection.collection-table {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;

  width: 100%;
  max-width: 100%;
  height: auto;

  overflow-y: auto;
  overflow-x: hidden;

  margin: 0px;
  padding: 0px;
  border: none;
  background: transparent;

  box-sizing: border-box;

  & > .element {
    flex: 0 0 auto;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;

    width: 100%;
    max-width: 100%;

    margin: 0px;
    padding: 0px;
    border: none;
    background: transparent;

    box-sizing: border-box;

    & > .element {
      flex: 1 0 auto;
    }
  }
}
