$filter-height: 25px;
$filter-font-size: 14px;

.filter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;

  width: auto;
  height: $filter-height;
  background-color: $outline-color;

  .btn.filter-icon, .filter-control, .btn.filter-clear {
    height: $filter-height;

    padding: 0px;
    margin: 0px;
    border: none;
    border-radius: 0px;

    line-height: $filter-height;
    vertical-align: middle;

    font-size: $filter-font-size;
    color: $body-color;

    background-color: transparent;

    outline: none;
    box-shadow: none;
    text-decoration: none;
  }

  .btn.filter-icon, .btn.filter-clear {
    flex: 0 0 $filter-height + 10px;

    &:focus, &.is-focused, &:active, &.is-active, &:hover, &.is-hovered,
    &:active:focus {
      background-color: rgba(0, 0, 0, 0.1);
      transition: background-color $transition-duration ease-in;
      border: none;
      color: $body-color;

      outline: none;
      box-shadow: none;
      text-decoration: none;
    }
  }

  .btn.filter-clear {
    flex: 0 0 0px;
    width: 0px;

    opacity: 0;
    visibility: hidden;

    text-align: right;

    transition: visibility $transition-duration step-end,
                flex $transition-duration step-end,
                width $transition-duration step-end,
                padding-right $transition-duration step-end,
                opacity $transition-duration ease-out;
  }

  .btn.filter-icon {
    text-align: left;

    padding-left: 10px;
  }

  .filter-control {
    flex: 1 0 auto;
  }
}
